html, body {
    margin: 0;
	min-height: 100%
}
body {
	background-color: #e2e9ed;
	font-family: Arial;
    position: absolute;
    width: 100%;
}
.left {
	margin: 0 auto;
    float: left;
    height: 100%;
    width: 17%;
}
#menu ul li {
    list-style-type: none;
}
#menu ul li a {
	text-decoration: none;
}
#footer {
    height: 40px;
    position:absolute;
    width:100%;
    bottom: 0;
    background-color: #112433;

}
#blog {

    text-align: center; 
}
h1 {
	font-size: 72px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

a img {
       position: absolute;
       left: 50%;
       top: 10px; 
}
h2 {
    font-size: 9pt;
	font-style: italic;
	padding-left: 10px;
    text-align: left;
}
p {
    word-wrap: break-word;
	font-size: 13pt;
	padding: 0px 10px 0px 10px;
}
span {
    font-size: 11pt;
    font-weight:bold;
}
hr {
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ccc;
}
#copyright {
	padding-top: 8px;
	color:#e2e9ed;
}
/*######## message_form ########*/
.message_form {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    max-width: 500px;
    background: #F8F8F8;
    padding: 30px 30px 20px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.message_form h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 20px 0px 20px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background: #42444b;
    text-shadow: 1px 1px 1px #949494;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-bottom:1px solid #89AF4C;
}
.message_form h1>span {
    display: block;
    font-size: 11px;
    color: #FFF;
}
.message_form label {
    display: block;
    margin: 0px 0px 5px;
}
.message_form label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.message_form input[type="text"], .message_form input[type="textarea"],.message_form input[type="password"] {
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}
.message_form input[type="textarea"]{
    height: inherit;
    padding-top: 10px;
}

.message_form .button {
    background-color: #42444b;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
}
.message_form .button:hover {
    background-color:#d5d8e1;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.bubble{
    display: inline-block;
    margin-bottom: 8px;
    position: relative;
    width: 370px;
    padding: 1px;
    background: #FFFFFF;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    border: #907F7F solid 3px;
}
.bubble:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0px 0px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -0px;
    left: 14px;
}
.bubble:before{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 2px 2px 0;
    border-color: #907F7F transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -5px;
    left: 12px;
}
.bubble2{
    position: relative;
    display: inline-block;
    margin-bottom: 8px;
    width: 370px;
    padding: 1px;
    background: #EFE7EB;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    border: #858689 solid 3px;
}
.bubble2:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0px 0px 0;
    border-color: #EFE7EB transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -0px;
    left: 14px;
}
.bubble2:before{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 2px 2px 0;
    border-color: #858689 transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -5px;
    left: 12px;
}
.alert {
    display:none;
    background-color: #ff9999;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
.delete>a>img {
    position: static;
}